@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-purple: #ab5cfa;
  --main-orange: #ef9533;
  --main-grey: #1e1e1e;
  --main-white: #fcfcfc;
  --main-magenta: #c801cc;
  --sec-white: #c9cacb;
  --sec-light-grey-1: #898e9a;
  --sec-light-grey-2: #333;
  --sec-light-grey-3: #313131;
  --sec-light-grey-4: #262626;
  --sec-light-grey-5: #222;
  --sec-light-grey-6: #191919;
  --danger: #f47566;
  --font-inter: 'Inter', sans-serif;
}

body {
  background: linear-gradient(
      2deg,
      #101010 79.11%,
      rgba(0, 0, 0, 0) 103.73%,
      rgba(0, 0, 0, 0) 103.73%
    ),
    linear-gradient(174deg, #a060fa 17.25%, #c800cc 58.14%);
  background-repeat: no-repeat;

  color: var(--main-white);
}

body.active {
  overflow: hidden;
}

.nav-item {
  box-shadow: inset 0px 4px 0px var(--sec-light-grey-4);
  color: #9f9e9f;
}

.nav-item:hover {
  box-shadow: inset 0px 4px 0px var(--main-orange);
  color: var(--main-orange);
}

.nav-active {
  box-shadow: inset 0px 4px 0px var(--main-orange);
  color: var(--main-orange);
}

.add-new-product-card {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23313131FF' stroke-width='4' stroke-dasharray='10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.product-card-title {
  background: var(
    --gradient-linear,
    linear-gradient(90deg, #a060fa 22.29%, #c800cc 81.69%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#overlay {
  background-color: rgba(23, 23, 23, 0.8);
}

.purple-gradient {
  background: linear-gradient(90deg, #a060fa 22.29%, #c800cc 81.69%);
}

input,
textarea,
select {
  transition: 0.3s;
  outline: 1px solid #323232;
  border-radius: 4px;
  background: var(--sec-light-grey-6);
  width: 100%;
  padding: 10px 12px;
}

input:hover,
textarea:hover,
select:hover {
  outline: 1px solid var(--main-purple);
}

input:focus,
textarea:focus,
select:focus {
  outline: 1px solid var(--main-purple);
}

label {
  @apply text-sm font-medium mb-1 block text-secWhite;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#upload button {
  border: none;
}

#upload .ant-btn-icon {
  /* display: none; */
}

#variant button {
  background: #2b2e34;
}

#variant button.ant-switch-checked {
  background: var(--main-purple);
}
