@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-purple: #AB5CFA;
  --main-orange: #EF9533;
  --main-grey: #1E1E1E;
  --main-white: #FCFCFC;
  --main-magenta: #C801CC;
  --sec-light-grey-1: #898E9A;
  --sec-light-grey-2: #333;
  --sec-light-grey-3: #313131;
  --sec-light-grey-4: #262626;
  --sec-light-grey-5: #222;

  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(2deg, #101010 79.11%, rgba(0, 0, 0, 0.00) 103.73%, rgba(0, 0, 0, 0.00) 103.73%), linear-gradient(174deg, #A060FA 17.25%, #C800CC 58.14%);
  background-repeat: no-repeat;

  color: var(--main-white);
}

.nav-item {
  box-shadow: inset 0px 4px 0px var(--sec-light-grey-4);
  color: #9F9E9F;
}

.nav-item:hover {
  box-shadow: inset 0px 4px 0px var(--main-orange);
  color: var(--main-orange);
}

.nav-active {
  box-shadow: inset 0px 4px 0px var(--main-orange);
  color: var(--main-orange);
}